a:link,
a:visited,
a:active,
a:hover {
  color: #aaaaaa;
}
a:hover {
  color: #ffffff;
}
.UIWidget {
  font-size: 13px;
  font-family: Arial, Helvetica, Verdana;
  color: #aaaaaa;
  display: block;
  background: #222222;
  padding: 10px;
}
.UINavigation {
  margin: 10px;
  padding-left: 0px;
  padding-bottom: 4px;
}
.UINavigation li {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #484848;
}
.border_right {
  border-right: 1px solid #484848;
}
.row {
  float: left;
}
